td {
    border: 1px solid black;
    border-radius: 10px;
    background: #ffffff;
    padding: 5px;
    width: 74px;
    height: 100px;
    border-collapse: separate;
}

.highlight {
    box-shadow: 0 0 20px #FFD700;
}

.lowlight {
    box-shadow: 0 0 20px #ff0200;
}

.greenlight {
    box-shadow: 0 0 20px #08ff0d;
}